.container-content {
    max-width: 1240px;
    width: 100%;
    background: rgba(255, 255, 255, 0.80);
}

.sidebar {
    max-width: 160px;
    width: 100%;
    padding: 120px 0 60px 0;
    margin: 0 40px 0 20px;

}

.sidebar .search-box {
    position: relative;
}

.search-box input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 8px 8px 32px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid #666;

}

.search-box i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 20px;
}

.menu{
    width: 100%;
    cursor: pointer;
    padding:  0;

}

.menu .menu-item{
    display: flex;
    align-items: center;
    gap: 10px;

}

.menu-item:nth-child(2) img,
.menu-item:nth-child(3) img {
  filter: brightness(0) saturate(100%) invert(70%) sepia(0%) saturate(0%) hue-rotate(0deg)
    brightness(90%) contrast(90%);
}

.menu-item:nth-child(2) p,
.menu-item:nth-child(3) p {
  color: #ccc;
}